<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/alpine.js" defer></script>

    <script src="/js/lucide.js"></script>
  </head>
  <body>
    <main
      class="min-h-screen flex items-center justify-center"
      style="background: linear-gradient(180deg, #1e3a8a 0%, #172554 100%)"
    >
      <%- body %>
    </main>
  </body>
</html>
